<div class="col ml-auto text-right">
  <button
    type="button"
    class="btn btn-outline-success"
    (click)="openModal(template)"
  >
    <i class="fa fa-plus"></i> +
  </button>
</div>

<hr />

<ng-template #template>
  <div class="modal-header">
    <h2 class="modal-title pull-left">Task Name</h2>
    <button
      (click)="modalRef.hide()"
      type="button"
      class="close"
      aria-label="Close"
    >
      <span aria-hidden="true">x</span>
    </button>
  </div>

  <form [formGroup]="MarvellousForm">
    <div class="modal-body">
      <div class="form-group">
        <label>Set Date</label>
        <input type="text" class="form-control" formControlName="setdate" />
      </div>

      <div class="form-group">
        <label>Add Reminder</label>
        <input type="text" class="form-control" formControlName="addreminder" />
      </div>

      <div class="form-group">
        <label>Mark as Urgent</label>
        <input
          type="text"
          class="form-control"
          formControlName="markasurgent"
        />
      </div>

      <div class="form-group">
        <label>Add Note..</label>
        <input type="text" class="form-control" formControlName="addnote" />
      </div>

      <div class="modal-footer">
        <button
          type="button"
          (click)="modalRef.hide()"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="submit" class="btn btn-primary">ADD TASK</button>
      </div>
    </div>
  </form>
</ng-template>

<h1>Button</h1>
