<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="container" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>

      <script>
        function myFunction(x) {
          x.classList.toggle("change");
        }
      </script>

      <h4 class="navbar-brand">TASK MANAGER</h4>
    </div>
    <a
      class="nav-link"
      style="cursor: pointer"
      *ngIf="_authService.userLoggedIn()"
      (click)="_authService.userLogout()"
      >Logout</a
    >
  </div>
</nav>
-->

<!--<div class="collapse" id="navbarToggleExternalContent">
  <div>
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-center">Toggleable via the navbar brand.</span>
  </div>
</div>-->
<!--<nav
  class="navbar navbar-light text-white navbar-center"
  style="background-color: rgba(132, 0, 255, 0.87)"
>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarToggleExternalContent"
    aria-controls="navbarToggleExternalContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <
  <p class="navbar-brand">Task manager</p>
</nav>-->

<!--<nav
  class="navbar navbar-light text-white navbar-center"
  style="background-color: rgba(132, 0, 255, 0.87)"
>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto order-0">
        <li class="nav-item">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </li>
      </ul>

      <div class="mx-auto">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </div>
</nav>
-->
<!--<div class="container-fluid bg-light">
  <nav class="navbar navbar-expand-sm navbar-dark bg-black">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="mx-auto">
          <a class="navbar-brand" href="#">TASK MANAGER</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </div>
  </nav>

  <img class="img-fluid rounded mx-auto d-block" src="assets/ic-tasks.png" />
  <h3>There is no tasks</h3>
  <p>
    Start creating tasks by clicking <a routerLink="#">"+"</a> button in bottom
    right corner
  </p>
</div>-->

<!--<div class="col ml-auto text-right">
      <button type="button" class="btn btn-outline-success"
      (click)="openModal(template)">
          <i class="fa fa-plus"></i> Add Event
      </button>
  </div>


<hr>

<ng-template #template>

      <div class="modal-header">
          <h5 class="modal-title pull-left">Add Event</h5>
          <button (click)="modalRef.hide()" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">x</span>
          </button>
      </div>

      <form [formGroup]="MarvellousForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label>Enter Special Event Name:</label>
            <input type="text" class="form-control" formControlName="eventname">
          </div>

          <div class="form-group">
            <label>Description:</label>
            <input type="text" class="form-control" formControlName="description">
          </div>

          <div class="modal-footer">
            <button type="button" (click)="modalRef.hide()" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add task</button>
          </div>

        </div>
      </form>
</ng-template>-->

<div class="sidebar-nav">
  <nav class="navbar navbar-dark">
    <div class="container-fluid">
      <!-- Mobile Menu Toggle Button -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--<span class="navbar-text"> TASK MANAGER </span>-->
      <div class="navbar-header">
        <a class="navbar-brand text-center" href="#">TASK MANAGER</a>
      </div>

      <!-- Menus List -->
      <div
        class="offcanvas offcanvas-start shadow"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-body">
          <ul class="navbar-nav">
            <li>
              <a href="#"
                ><i class="bi bi-calendar3"></i>
                <span class="item-text">Tasks</span></a
              >
            </li>
            <li>
              <a href="/notes"
                ><i class="bi bi-pencil-square"></i>
                <span class="item-text">Notes</span></a
              >
            </li>
            <li>
              <a href="#"
                ><i class="bi bi-people"></i>
                <span class="item-text">Logout</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
