<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark nav-justified">
    <!--<div class="row">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/todays">TODAYS</a>
        <a class="navbar-brand" routerLink="/urgent">URGENT</a>
        <a class="navbar-brand" routerLink="/upcoming">UPCOMING</a>
        <a class="navbar-brand" routerLink="/pending">PENDING</a>
      </div>
    </div>-->

    <a
      class="nav-link active text-white"
      aria-current="page"
      routerLink="/todays"
      >TODAYS</a
    >

    <a class="nav-link text-white" routerLink="/urgent">URGENT</a>

    <a class="nav-link text-white" routerLink="/upcoming">UPCOMING</a>

    <a class="nav-link text-white" routerLink="/pending" tabindex="-1"
      >PENDING</a
    >
  </nav>
</div>
