<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">TODAYS</a></li>
      <li><a href="#">URGENT</a></li>
      <li><a href="#">UPCOMING</a></li>
      <li><a href="#">PENDING</a></li>
    </ul>
  </div>
</nav>-->

<div class="container-fluid">
  <nav class="navbar navbar-dark">
    <div class="row">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/todays">TODAYS</a>
        <a class="navbar-brand" routerLink="#">URGENT</a>
        <a class="navbar-brand" routerLink="#">UPCOMING</a>
        <a class="navbar-brand" routerLink="#">PENDING</a>
      </div>
    </div>
  </nav>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
