<div class="container-fluid bg">
  <div class="p-3 mb-2">
    <div class="row">
      <div class="col-md-12">
        <div class="center">
          <img
            class="img-fluid rounded mx-auto d-block"
            src="assets/ic-tasks.png"
          />
          <h2 class="text-center text-white">TASK MANAGER</h2>
          <div class="row">
            <div
              style="height: 200px"
              class="col-md-2 offset-md-3 text-center text-white"
            >
              Create your account easily to easily add and manage your task with
              our simple task manager
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="py-5">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <span class="anchor" id="formLogin"></span>

              <!-- form card login -->
              <div class="card rounded-0">
                <div class="card-header">
                  <h3 class="mb-0 text-center">Login</h3>
                </div>
                <div class="card-body">
                  <form [formGroup]="loginUserData" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                      <label for="exampleInputEmail1"> Email address</label>
                      <input
                        type="email"
                        class="form-control"
                        id="exampleInputEmail1"
                        formControlName="email"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1"> Password</label>
                      <input
                        type="password"
                        class="form-control"
                        id="exampleInputPassword1"
                        formControlName="password"
                      />
                    </div>
                    <div class="d-grid gap-2">
                      <button type="submit" class="btn btn-primary">
                        Login
                      </button>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <a
                          type="button"
                          routerLink="/register"
                          class="btn btn-link"
                          >Create new account</a
                        >
                      </div>
                      <div class="col-md-6">
                        <a
                          type="submit"
                          routerLink="/forgetpassword"
                          class="btn btn-link"
                          >forget password?</a
                        >
                      </div>
                    </div>
                  </form>
                </div>
                <!--/card-block-->
              </div>
              <!-- /form card login -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
