<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0 text-center">Registration</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="RegisterUserData" (ngSubmit)="onSubmit()">
            <div class="mb-3" class="form-group">
              <label for="firstname" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control rounded-0"
                [class.is-invalid]="
                  RegisterUserData.get('firstname')?.invalid &&
                  RegisterUserData.get('firstname')?.touched
                "
                formControlName="firstname"
              />
              <small
                [class.d-none]="
                  RegisterUserData.get('firstname')?.valid ||
                  RegisterUserData.get('firstname')?.untouched
                "
                class="text-danger"
                >First Name is required</small
              >

              <!--<div
                *ngIf="
                  RegisterUserData.get('firstname').errors &&
                    RegisterUserData.get('firstname').dirty &&
                    RegisterUserData.get('firstname').error;
                  validFname
                "
              ></div>-->

              <div class="mb-3" class="form-group">
                <label for="lastname" class="form-label">Last Name</label>
                <input
                  type="text"
                  class="form-control rounded-0"
                  [class.is-invalid]="
                    RegisterUserData.get('lastname')?.invalid &&
                    RegisterUserData.get('lastname')?.touched
                  "
                  formControlName="lastname"
                />
                <small
                  [class.d-none]="
                    RegisterUserData.get('lastname')?.valid ||
                    RegisterUserData.get('lastname')?.untouched
                  "
                  class="text-danger"
                  >last Name is required</small
                >
              </div>

              <div class="mb-3" class="form-group">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control rounded-0"
                  [class.is-invalid]="
                    RegisterUserData.get('email')?.invalid &&
                    RegisterUserData.get('email')?.touched
                  "
                  (keyup)="emailCheckUnique(RegisterUserData.value.email)"
                  formControlName="email"
                />
                <small
                  [class.d-none]="
                    RegisterUserData.get('email')?.valid ||
                    RegisterUserData.get('email')?.untouched
                  "
                  class="text-danger"
                >
                  Email is required
                </small>
                <div
                  class="text-danger"
                  *ngIf="RegisterUserData.get('email')?.errors?.['invalidEmail']"
                >
                  Your e-mail format must have correct format
                </div>

                <div
                  class="text-danger"
                  *ngIf="RegisterUserData.get('email')?.errors?.['userExists']"
                >
                  An user with email {{ email.value }} already exists.
                </div>
              </div>

              <div class="mb-3" class="form-group">
                <label for="phone" class="form-label">Phone</label>
                <input
                  type="number"
                  class="form-control rounded-0"
                  [class.is-invalid]="
                    RegisterUserData.get('phone')?.invalid &&
                    RegisterUserData.get('phone')?.touched
                  "
                  formControlName="phone"
                />
                <small
                  [class.d-none]="
                    RegisterUserData.get('phone')?.valid ||
                    RegisterUserData.get('phone')?.untouched
                  "
                  class="text-danger"
                  >Phone is required</small
                >
              </div>

              <div class="mb-3" class="form-group">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  formControlName="password"
                  class="form-control"
                  placeholder="Enter password"
                />
                <small
                  [class.d-none]="
                    RegisterUserData.get('password')?.valid ||
                    RegisterUserData.get('password')?.untouched
                  "
                  class="text-danger"
                  >Password is required</small
                >
                <div
                  class="text-danger"
                  *ngIf="RegisterUserData.get('password')?.errors?.['invalidPassword']"
                >
                  Your password must have lower case, upper case,numeric and
                  special characters.
                </div>
              </div>

              <div class="mb-3" class="form-group">
                <label for="confirmpassword" class="form-label"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  formControlName="confirmpassword"
                  class="form-control"
                  placeholder="Enter confirm password"
                  (keyup)="
                    passwordsMatch(
                      RegisterUserData.value.password,
                      RegisterUserData.value.confirmpassword
                    )
                  "
                />
              </div>

              <div
                [ngClass]="
                  matchPass ? 'valid-text' : 'error-text error-message'
                "
              >
                <span
                  class="text-danger"
                  *ngIf="RegisterUserData.value.confirmpassword != ''"
                >
                  {{ matchPass ? "password match" : "passwords did not match" }}
                </span>
              </div>
              <!-- passwords matched -->

              <input type="file" (change)="upload($event)" />

              <!--<input
                type="file"
                formControlName="profileimage"
                (click)="upload($event)"
              />
              <button class="btn btn-primary" (click)="submitPhoto()">
                Upload Photo
              </button>!-->
              <div>
                <button type="submit" class="btn btn-primary">Register</button>

                <a routerLink="/login" class="btn btn-link">Login</a>
              </div>
            </div>
          </form>
        </div>
        <!--/card-block--
<!-- /form card login -->
      </div>
    </div>
  </div>
</div>
