.bg {
  background-color: rgb(179, 170, 170);
}

.text {
  color: rgb(131, 12, 241);
}

.container {
  padding: 0;
}

.test:after {
  content: "\2807";
  width: 200px;
  height: 200px;
  font-size: x-large;
}

.form-check-input {
  font-size: large;
}

.form-check-label {
  font-size: large;
}
